/* General styles */
.todo-app {
  width: 100%;
  max-width: 800px;
  height: 600px;
  border-radius: 15px;
  margin: 30px auto;
  overflow: hidden;
  position: relative;
}

/* Form styles */
.input-section {
  margin-top: 20px;
}

.input-section input[type="text"],
.input-section select {
  display: block;
  width: calc(100% - 24px); /* Adjust width based on padding */
  padding: 12px;
  margin-bottom: 10px; /* Space between input fields */
  border: none;
  background-color: rgb(33, 33, 33);
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.input-section input[type="text"]::placeholder {
  color: #ddd;
}

.input-section input[type="text"]:focus {
  outline: none;
  background-color: #555;
}

.input-section button {
  display: block;
  width: 100%;
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-section button:hover {
  background-color: #0056b3;
}

/* Todo list styles */
.todos {
  width: 100%;
  height: calc(100% - 100px);
  margin-top: 20px;
  overflow-y: auto;
  padding: 10px;
  background-color: rgb(33, 33, 33);
  border-radius: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  color: #fff;
}

th {
  background-color: #007bff;
}

td {
  border-bottom: 1px solid #ddd;
}

/* Delete button styles */
.delete-button {
  padding: 6px;
  margin: 5px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 40%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c82333;
}

.edit-button {
  padding: 6px;
  margin: 5px;
  background-color: #35dc64;
  color: #fff;
  border: none;
  border-radius: 40%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #23c83c;
}
